
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div id="DobavljacTableContainer"></div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $('#DobavljacTableContainer').jtable({
                title: 'Dobavljaci',
                paging: true, //Enable paging
                pageSize: 10, //Set page size (default: 10)  broj redova
                sorting: true, //Enable sorting   po kolonama
                defaultSorting: 'Naziv', //Set default sorting
                actions: {
                    listAction: '/Dobavljac/List',
                    deleteAction: '/Dobavljac/Delete',
                    updateAction: '/Dobavljac/Update',
                    createAction: '/Dobavljac/Create'
                },
                fields: {
                    DobavljacId: {
                        key: true,
                        create: false,   // true - bice...
                        edit: false,
                        list: false
                    },
                    Naziv: {
                        title: 'Naziv',
                        width: '23%'
                    }                
                }
            });
         
            $('#DobavljacTableContainer').jtable('load');    //pravi se ajax poziv i vraca nasu listu
        });

    </script>
}